@model LogoModel
<br />
<a href="@Url.RouteUrl("Homepage")">
    <img title="" alt="@Model.StoreName" src="@Model.LogoPath">
</a>
<span style="font-size: 17px; margin: 0 5px ">@T("Store.ContactNumber")</span>
